$white: #ffffff;
$white-half-low: #ffffff86;
$white-low: #ffffff46;
$white-very-low: #ffffff36;
$white-very-very-low: #ffffff2d;
$white-very-very-very-low: #ffffff18;
$red: #d83215e0;
$green: #5cd815e0;
