.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 238px;
    padding-bottom: 34px;
}
.login__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 720px;
}
.login__bottom {
    width: 100%;
    max-width: 720px;
    text-align: center;
}
.login__form {
    margin-top: 148px;
    width: 100%;
    max-width: 600px;
}
.login__form_item {
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid $white;
    margin-bottom: 40px;
}
.login__form_input {
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font-size: 30px;
    margin-left: 23px;
    width: 545px;
    color: $white;
    padding-bottom: 26px;
    &::placeholder {
        color: $white;
        font-size: 30px;
        text-overflow: ellipsis;
    }
    &:focus {
        &::placeholder {
            visibility: hidden;
        }
    }
}
.login__form_inner {
    text-align: center;
}
.login__form_button {
    width: 100%;
    min-height: 100px;
    font-size: 30px;
    font-weight: 600;
    color: $white;
    background: $white-low;
    &:active {
        background: $white-very-low;
    }
    &:disabled {
        user-select: none;
        pointer-events: none;
        background: $white-very-very-low;
    }
}
.login__reset_inner {
    margin-top: 40px;
    font-size: 28px;
    color: $white;
}
.login__bottom_item {
    font-size: 28px;
    color: $white;
}
.login__bottom_inner:last-child {
    color: $white;
    font-weight: 600;
    font-size: 30px;
}
.login__bottom {
    margin-top: 40px;
    border-top: 1px solid $white-half-low;
    padding-top: 34px;
}
